# Dependencies
node_modules/

# Build output
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Playwright
test-results/
playwright-report/

# Playwright videos
playwright-videos/

# Playwright traces
playwright-traces/

# Playwright screenshots
playwright-screenshots/